@model HairSalon.Models.Stylist

<html>
<head>
    <title>Stylist - Details</title>
</head>
<body>
    <h2>Stylist Details</h2>
    <hr />

    <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
    <p>@Html.DisplayNameFor(model => model.ClientId) : @Html.DisplayFor(model => model.ClientId)</p>

    <p>@Html.ActionLink("Edit", "Edit", new { id = Model.StylistId }) | @Html.ActionLink("Back to List", "Index")</p>
</body>
</html>